<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Feuille de styles CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title><%- titre %></title>
    <meta name="description" content="<%- description %>">
    <link rel="canonical" href="<%= urlCanonique %>">

    <!-- Pour les réseaux sociaux -->
    <meta property="og:title" content="<%- titre %>" />
    <meta property="og:image" content="https://webcomet.fr/img/capture.png" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:url" content="<%= urlCanonique %>" />
</head>

<body>
    <div id="header">
        <nav>
            <!-- Logo -->
            <div id="logoContainer">
                <a class="lien-logo" href="/">
                    <h4 id="logo">WebComet.fr</h4>
                </a>
                <i id="speech">Un site web de qualité à un bon prix</i>
            </div>
            <!-- Menu hamburger mobile -->
            <div id="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <!-- Navigation -->
        <span id="nav-link" class="invisible">
            <a href="webmaster-creation-site-vitrine">Création de site vitrine</a>
            <a href="consultant-seo">SEO</a>
        </span>
        <div id="header-container">
            <h1><%- h1 %></h1>
            <div id="btnContact" class="newButton">CONTACT</div>
        </div>
    </div>

    <div class="separator-container">
        <span class="separator"></span>
        <span class="separator2"></span>
    </div>